body {
    background-color: white;
    border: 10px solid gray;
    border-radius: 10px 10px 10px 10px;
    width: fit-content;
    margin-left: 250px;
    align-content: space-around;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;    
}

.Card {
    Width: 200px;
    height: 200px;
    margin: 20px;
    box-shadow: grey 0px 20px 30px -10px;
}

.Card img{
    height: 100%;
    width:100%
}
.A, .B, .C, .D {
    display: flex;
}

h3 {
    text-align: center;
    color: grey;
}